.mediaViewInfo {
	--web-view-name: Aboutus;
	--web-view-id: Aboutus;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Aboutus;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Aboutus {
	position: absolute;
	width: 1920px;
	height: 2097px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Aboutus;
	--web-view-id: Aboutus;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-deep-linking: true;
}
#Home_Care_Givers_bringing_comp {
	left: 299px;
	top: 323px;
	position: absolute;
	overflow: visible;
	width: 834px;
	height: 900px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(61,61,61,1);
}
#Group_23 {
	position: absolute;
	width: 483px;
	height: 61px;
	left: 269px;
	top: 233px;
	overflow: visible;
}
#H6_TAGH4 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 484px;
	height: 61px;
	line-height: 42px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(143,34,91,1);
}
#Path_36 {
	fill: rgba(143,34,91,1);
}
.Path_36 {
	overflow: visible;
	position: absolute;
	width: 89.016px;
	height: 1.59px;
	left: 62px;
	top: 42.205px;
	transform: matrix(1,0,0,1,0,0);
}
#Image_3 {
	position: absolute;
	width: 620px;
	height: 413px;
	left: 1199px;
	top: 412px;
	overflow: visible;
}
#Group_39 {
	position: absolute;
	width: 1921px;
	height: 160px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_9 {
	fill: rgba(143,34,91,1);
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 1921px;
	height: 160px;
	left: 0px;
	top: 0px;
}
#Header {
	position: absolute;
	width: 202px;
	height: 68px;
	left: 1538px;
	top: 67px;
	overflow: visible;
}
#METADATA {
	display: none;
	left: -1524px;
	top: -40px;
	position: absolute;
	overflow: hidden;
	width: 16px;
	height: 15px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Button_ {
	position: absolute;
	width: 202px;
	height: 68px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_z {
	display: none;
	left: -11px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 16px;
	height: 15px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_DISPLAY_ELEMENTSLabelSIZE {
	fill: rgba(25,96,0,1);
}
.Area_DISPLAY_ELEMENTSLabelSIZE {
	position: absolute;
	overflow: visible;
	width: 202px;
	height: 68px;
	left: 0px;
	top: 0px;
}
#Label {
	left: 60px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Icon_ {
	position: absolute;
	width: 27px;
	height: 28px;
	left: 141px;
	top: 20px;
	display: none;
	overflow: visible;
}
#METADATA_ {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 16px;
	height: 15px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_DISPLAY_ELEMENTSLabelICON {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_DISPLAY_ELEMENTSLabelICON {
	position: absolute;
	overflow: visible;
	width: 27px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Icon {
	position: absolute;
	width: 24.437px;
	height: 21.313px;
	left: 0.67px;
	top: 3.479px;
	overflow: visible;
}
#Path {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path {
	overflow: visible;
	position: absolute;
	width: 26.104px;
	height: 22.98px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Home {
	left: 776px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Services {
	left: 900px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#About_us {
	left: 1050px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#FAQ {
	left: 1388px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Locations {
	left: 1218px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#LOGO_png {
	position: absolute;
	width: 176px;
	height: 107px;
	left: 303px;
	top: 30px;
	overflow: visible;
}
#Group_40 {
	position: absolute;
	width: 1920px;
	height: 705.821px;
	left: 0px;
	top: 1391px;
	overflow: visible;
}
#Footer {
	position: absolute;
	width: 1920px;
	height: 705.821px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Circle_Button_ {
	position: absolute;
	width: 67px;
	height: 67px;
	left: 471px;
	top: 460px;
	overflow: visible;
}
#METADATA_bf {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_SIZEMEDIUMSTATEDEFAULTSTY {
	fill: rgba(255,255,255,0);
}
.Area_SIZEMEDIUMSTATEDEFAULTSTY {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#METADATA_bh {
	display: none;
	left: 2321px;
	top: -3704px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Background_STYLESTYLE3 {
	fill: rgba(143,34,91,1);
}
.Background_STYLESTYLE3 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 705.821px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Company_STYLESTYLE3TAGH4 {
	left: 200px;
	top: 188px;
	position: absolute;
	overflow: visible;
	width: 395px;
	white-space: nowrap;
	line-height: 58px;
	margin-top: -7px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	color: rgba(255,255,255,0);
}
#Circle_Button__bk {
	position: absolute;
	width: 67px;
	height: 67px;
	left: 290px;
	top: 460px;
	overflow: visible;
}
#METADATA_bl {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_SIZEMEDIUMSTATEDEFAULTSTY_bm {
	fill: rgba(255,255,255,0);
}
.Area_SIZEMEDIUMSTATEDEFAULTSTY_bm {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#Icon__bn {
	position: absolute;
	width: 29px;
	height: 28px;
	left: 19px;
	top: 19px;
	overflow: visible;
}
#METADATA_bo {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeathertwitterSIZEMED {
	opacity: 0;
	fill: rgba(255,255,255,0);
}
.Area_ICONfeathertwitterSIZEMED {
	position: absolute;
	overflow: visible;
	width: 29px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Icon_bq {
	position: absolute;
	width: 25.676px;
	height: 20.941px;
	left: 1.664px;
	top: 3.837px;
	overflow: visible;
}
#Path_br {
	fill: rgba(255,255,255,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_br {
	overflow: visible;
	position: absolute;
	width: 27.342px;
	height: 22.831px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Circle_Button__bs {
	position: absolute;
	width: 67px;
	height: 67px;
	left: 200px;
	top: 460px;
	overflow: visible;
}
#METADATA_bt {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_SIZEMEDIUMSTATEDEFAULTSTY_bu {
	fill: rgba(255,255,255,0);
}
.Area_SIZEMEDIUMSTATEDEFAULTSTY_bu {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#Icon__bv {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 20px;
	top: 19px;
	overflow: visible;
}
#METADATA_bw {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherfacebookSIZEME {
	opacity: 0;
	fill: rgba(255,255,255,0);
}
.Area_ICONfeatherfacebookSIZEME {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Icon_by {
	position: absolute;
	width: 12.838px;
	height: 23.34px;
	left: 8.038px;
	top: 2.683px;
	overflow: visible;
}
#Path_bz {
	fill: rgba(255,255,255,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_bz {
	overflow: visible;
	position: absolute;
	width: 14.504px;
	height: 25.006px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Service_STYLESTYLE3TAGUI_L {
	left: 904px;
	top: 416px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Service_STYLESTYLE3TAGUI_L_b {
	left: 904px;
	top: 362px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Service_STYLESTYLE3TAGUI_L_ca {
	left: 904px;
	top: 308px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Service_STYLESTYLE3TAGUI_L_cb {
	left: 904px;
	top: 254px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Services_STYLESTYLE3TAGH5 {
	left: 904px;
	top: 195px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	line-height: 47px;
	margin-top: -7px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
#Resources_STYLESTYLE3TAGH5 {
	left: 1291px;
	top: 195px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	line-height: 47px;
	margin-top: -7px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
#Live_Peace_247_Seniors_Care_Co {
	left: 1291px;
	top: 254px;
	position: absolute;
	overflow: visible;
	width: 412px;
	height: 220px;
	line-height: 38px;
	margin-top: -8px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Icon_awesome-instagram {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-instagram {
	overflow: visible;
	position: absolute;
	width: 24.83px;
	height: 24.824px;
	left: 401.963px;
	top: 483.248px;
	transform: matrix(1,0,0,1,0,0);
}
#Circle_Button__b {
	position: absolute;
	width: 67px;
	height: 67px;
	left: 381px;
	top: 462px;
	overflow: visible;
}
#METADATA_b {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_SIZEMEDIUMSTATEDEFAULTSTY_ca {
	fill: rgba(255,255,255,0);
}
.Area_SIZEMEDIUMSTATEDEFAULTSTY_ca {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#Icon__cb {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 20px;
	top: 20px;
	overflow: visible;
}
#METADATA_cc {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherlinkedinSIZEME {
	opacity: 0;
	fill: rgba(255,255,255,0);
}
.Area_ICONfeatherlinkedinSIZEME {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Footer_Strip {
	position: absolute;
	width: 1920px;
	height: 42px;
	left: 0px;
	top: 663px;
	overflow: visible;
}
#METADATA_cf {
	display: none;
	left: 2321px;
	top: -4409px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Background_STYLESTYLE2 {
	fill: rgba(235,235,235,1);
}
.Background_STYLESTYLE2 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Copyright_STYLESTYLE2TAGUI_S {
	left: 214px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(61,61,61,1);
	letter-spacing: 0.3px;
}
#Group_24 {
	position: absolute;
	width: 482px;
	height: 48px;
	left: 203px;
	top: 363px;
	overflow: visible;
}
#Description_STYLESTYLE3TAGP {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 483px;
	height: 48px;
	line-height: 26px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#LOGO_png_ck {
	position: absolute;
	width: 264px;
	height: 161px;
	left: 233px;
	top: 177px;
	overflow: visible;
}
#FAQ_cl {
	left: 903px;
	top: 471px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}