.mediaViewInfo {
	--web-view-name: Seniorcompanionship;
	--web-view-id: Seniorcompanionship;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Seniorcompanionship;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Seniorcompanionship {
	position: absolute;
	width: 1920px;
	height: 1825px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Seniorcompanionship;
	--web-view-id: Seniorcompanionship;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-deep-linking: true;
}
#Header {
	position: absolute;
	width: 202px;
	height: 68px;
	left: 1534px;
	top: 67px;
	overflow: visible;
}
#METADATA {
	display: none;
	left: -1524px;
	top: -40px;
	position: absolute;
	overflow: hidden;
	width: 16px;
	height: 15px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Button_ {
	position: absolute;
	width: 202px;
	height: 68px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_s {
	display: none;
	left: -11px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 16px;
	height: 15px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_DISPLAY_ELEMENTSLabelSIZE {
	fill: rgba(25,96,0,1);
}
.Area_DISPLAY_ELEMENTSLabelSIZE {
	position: absolute;
	overflow: visible;
	width: 202px;
	height: 68px;
	left: 0px;
	top: 0px;
}
#Label {
	left: 60px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Icon_ {
	position: absolute;
	width: 27px;
	height: 28px;
	left: 141px;
	top: 20px;
	display: none;
	overflow: visible;
}
#METADATA_w {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 16px;
	height: 15px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_DISPLAY_ELEMENTSLabelICON {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_DISPLAY_ELEMENTSLabelICON {
	position: absolute;
	overflow: visible;
	width: 27px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Icon {
	position: absolute;
	width: 24.437px;
	height: 21.313px;
	left: 0.357px;
	top: 3.479px;
	overflow: visible;
}
#Path {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path {
	overflow: visible;
	position: absolute;
	width: 26.104px;
	height: 22.979px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_4 {
	position: absolute;
	width: 249.203px;
	height: 152.56px;
	left: 298.797px;
	top: 13.118px;
	overflow: visible;
}
#Path_8 {
	fill: rgba(249,249,249,1);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 88.251px;
	height: 118.751px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ive {
	left: 18.296px;
	top: 60.087px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	line-height: 51px;
	margin-top: -4.5px;
	text-align: left;
	font-family: NovaFlat;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(249,249,249,1);
}
#Group_3 {
	position: absolute;
	width: 60.798px;
	height: 95.19px;
	left: 85.139px;
	top: 57.37px;
	overflow: visible;
}
#Path_9 {
	fill: rgba(249,249,249,1);
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 60.798px;
	height: 95.19px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#eace {
	left: 149.203px;
	top: 57.292px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 55px;
	margin-top: -4.5px;
	text-align: left;
	font-family: NovaFlat;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	color: rgba(249,249,249,1);
}
#This_simply_refers_to_a_sense_ {
	left: 207px;
	top: 332px;
	position: absolute;
	overflow: visible;
	width: 712px;
	height: 684px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(61,61,61,1);
}
#Group_23 {
	position: absolute;
	width: 527px;
	height: 61px;
	left: 269px;
	top: 233px;
	overflow: visible;
}
#H6_TAGH4 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 528px;
	height: 61px;
	line-height: 42px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(143,34,91,1);
}
#Path_36 {
	fill: rgba(143,34,91,1);
}
.Path_36 {
	overflow: visible;
	position: absolute;
	width: 89.016px;
	height: 1.589px;
	left: 62px;
	top: 47.205px;
	transform: matrix(1,0,0,1,0,0);
}
#Footer {
	position: absolute;
	width: 1920px;
	height: 705.821px;
	left: 0px;
	top: 1077px;
	overflow: visible;
}
#Circle_Button_ {
	position: absolute;
	width: 67px;
	height: 67px;
	left: 471px;
	top: 454px;
	overflow: visible;
}
#METADATA_cg {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_SIZEMEDIUMSTATEDEFAULTSTY_ch {
	fill: rgba(255,255,255,0);
}
.Area_SIZEMEDIUMSTATEDEFAULTSTY_ch {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#METADATA_be {
	display: none;
	left: 2321px;
	top: -3710px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Background_STYLESTYLE3 {
	fill: rgba(143,34,91,1);
}
.Background_STYLESTYLE3 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 705.821px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Company_STYLESTYLE3TAGH4 {
	left: 200px;
	top: 182px;
	position: absolute;
	overflow: visible;
	width: 395px;
	white-space: nowrap;
	line-height: 58px;
	margin-top: -7px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	color: rgba(255,255,255,0);
}
#Circle_Button__bh {
	position: absolute;
	width: 67px;
	height: 67px;
	left: 381px;
	top: 454px;
	overflow: visible;
}
#METADATA_bi {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_SIZEMEDIUMSTATEDEFAULTSTY_bj {
	fill: rgba(255,255,255,0);
}
.Area_SIZEMEDIUMSTATEDEFAULTSTY_bj {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#Icon__bk {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 19px;
	top: 19px;
	overflow: visible;
}
#METADATA_bl {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherlinkedinSIZEME {
	opacity: 0;
	fill: rgba(255,255,255,0);
}
.Area_ICONfeatherlinkedinSIZEME {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Icon_bn {
	position: absolute;
	width: 23.34px;
	height: 22.174px;
	left: 2.9px;
	top: 2.683px;
	overflow: visible;
}
#Path_bo {
	fill: rgba(255,255,255,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_bo {
	overflow: visible;
	position: absolute;
	width: 15.671px;
	height: 16.838px;
	left: 9.336px;
	top: 7.002px;
	transform: matrix(1,0,0,1,0,0);
}
#Rect {
	fill: rgba(255,255,255,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rect {
	position: absolute;
	overflow: visible;
	width: 6.335px;
	height: 15.671px;
	left: 0px;
	top: 8.169px;
}
#Path_bq {
	fill: rgba(255,255,255,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_bq {
	position: absolute;
	overflow: visible;
	width: 6.335px;
	height: 6.335px;
	left: 0px;
	top: 0px;
}
#Circle_Button__br {
	position: absolute;
	width: 67px;
	height: 67px;
	left: 290px;
	top: 454px;
	overflow: visible;
}
#METADATA_bs {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_SIZEMEDIUMSTATEDEFAULTSTY_bt {
	fill: rgba(255,255,255,0);
}
.Area_SIZEMEDIUMSTATEDEFAULTSTY_bt {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#Icon__bu {
	position: absolute;
	width: 29px;
	height: 28px;
	left: 19px;
	top: 19px;
	overflow: visible;
}
#METADATA_bv {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeathertwitterSIZEMED {
	opacity: 0;
	fill: rgba(255,255,255,0);
}
.Area_ICONfeathertwitterSIZEMED {
	position: absolute;
	overflow: visible;
	width: 29px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Icon_bx {
	position: absolute;
	width: 25.676px;
	height: 20.941px;
	left: 1.664px;
	top: 3.837px;
	overflow: visible;
}
#Path_by {
	fill: rgba(255,255,255,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_by {
	overflow: visible;
	position: absolute;
	width: 27.342px;
	height: 22.832px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Circle_Button__bz {
	position: absolute;
	width: 67px;
	height: 67px;
	left: 200px;
	top: 454px;
	overflow: visible;
}
#METADATA_b {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_SIZEMEDIUMSTATEDEFAULTSTY_b {
	fill: rgba(255,255,255,0);
}
.Area_SIZEMEDIUMSTATEDEFAULTSTY_b {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#Icon__b {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 20px;
	top: 19px;
	overflow: visible;
}
#METADATA_ca {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherfacebookSIZEME {
	opacity: 0;
	fill: rgba(255,255,255,0);
}
.Area_ICONfeatherfacebookSIZEME {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Icon_b {
	position: absolute;
	width: 12.838px;
	height: 23.34px;
	left: 8.038px;
	top: 2.683px;
	overflow: visible;
}
#Path_b {
	fill: rgba(255,255,255,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_b {
	overflow: visible;
	position: absolute;
	width: 14.504px;
	height: 25.006px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Service_STYLESTYLE3TAGUI_L {
	left: 900px;
	top: 487px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Service_STYLESTYLE3TAGUI_L_b {
	left: 893px;
	top: 420px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Service_STYLESTYLE3TAGUI_L_ca {
	left: 836px;
	top: 353px;
	position: absolute;
	overflow: visible;
	width: 305px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Service_STYLESTYLE3TAGUI_L_cb {
	left: 904px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Services_STYLESTYLE3TAGH5 {
	left: 935px;
	top: 189px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	line-height: 47px;
	margin-top: -7px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
#Resources_STYLESTYLE3TAGH5 {
	left: 1291px;
	top: 189px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	line-height: 47px;
	margin-top: -7px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
#Live_Peace_247_Seniors_Care_Co {
	left: 1293px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 302px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Icon_awesome-instagram {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-instagram {
	overflow: visible;
	position: absolute;
	width: 24.83px;
	height: 24.824px;
	left: 491.963px;
	top: 477.249px;
	transform: matrix(1,0,0,1,0,0);
}
#Circle_Button__cf {
	position: absolute;
	width: 67px;
	height: 67px;
	left: 471px;
	top: 454px;
	overflow: visible;
}
#METADATA_cg {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_SIZEMEDIUMSTATEDEFAULTSTY_ch {
	fill: rgba(255,255,255,0);
}
.Area_SIZEMEDIUMSTATEDEFAULTSTY_ch {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#Icon__ci {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 20px;
	top: 19px;
	overflow: visible;
}
#METADATA_cj {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeatherlinkedinSIZEME_ck {
	opacity: 0;
	fill: rgba(255,255,255,0);
}
.Area_ICONfeatherlinkedinSIZEME_ck {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Group_24 {
	position: absolute;
	width: 482px;
	height: 208.665px;
	left: 191px;
	top: 245.335px;
	overflow: visible;
}
#Description_STYLESTYLE3TAGP {
	left: 0px;
	top: 160.665px;
	position: absolute;
	overflow: visible;
	width: 483px;
	height: 48px;
	line-height: 26px;
	margin-top: -5px;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Group_17 {
	position: absolute;
	width: 250.952px;
	height: 152.303px;
	left: 11.663px;
	top: 0px;
	overflow: visible;
}
#Path_8_co {
	fill: rgba(249,249,249,1);
}
.Path_8_co {
	overflow: visible;
	position: absolute;
	width: 88.102px;
	height: 118.551px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ive_cp {
	left: 18.265px;
	top: 59.985px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	line-height: 54px;
	margin-top: -5px;
	text-align: left;
	font-family: NovaFlat;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	color: rgba(249,249,249,1);
}
#Group_3_cq {
	position: absolute;
	width: 60.695px;
	height: 95.029px;
	left: 84.995px;
	top: 57.273px;
	overflow: visible;
}
#Path_9_cr {
	fill: rgba(249,249,249,1);
}
.Path_9_cr {
	overflow: visible;
	position: absolute;
	width: 60.695px;
	height: 95.029px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#eace_cs {
	left: 148.952px;
	top: 57.196px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	line-height: 57px;
	margin-top: -5px;
	text-align: left;
	font-family: NovaFlat;
	font-style: normal;
	font-weight: normal;
	font-size: 47px;
	color: rgba(249,249,249,1);
}
#Footer_Strip {
	position: absolute;
	width: 1920px;
	height: 42px;
	left: 0px;
	top: 1783px;
	overflow: visible;
}
#METADATA_cu {
	display: none;
	left: 2321px;
	top: -4409px;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 14px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Background_STYLESTYLE2 {
	fill: rgba(235,235,235,1);
}
.Background_STYLESTYLE2 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Copyright_STYLESTYLE2TAGUI_S {
	left: 214px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(61,61,61,1);
	letter-spacing: 0.3px;
}
#shutterstock_1948515265 {
	position: absolute;
	width: 851px;
	height: 567px;
	left: 960px;
	top: 294px;
	overflow: visible;
}
#Group_39 {
	position: absolute;
	width: 1921px;
	height: 160px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_9 {
	fill: rgba(143,34,91,1);
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 1921px;
	height: 160px;
	left: 0px;
	top: 0px;
}
#Header_c {
	position: absolute;
	width: 202px;
	height: 68px;
	left: 1538px;
	top: 67px;
	overflow: visible;
}
#METADATA_c {
	display: none;
	left: -1524px;
	top: -40px;
	position: absolute;
	overflow: hidden;
	width: 16px;
	height: 15px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Button__c {
	position: absolute;
	width: 202px;
	height: 68px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_da {
	display: none;
	left: -11px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 16px;
	height: 15px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_DISPLAY_ELEMENTSLabelSIZE_c {
	fill: rgba(25,96,0,1);
}
.Area_DISPLAY_ELEMENTSLabelSIZE_c {
	position: absolute;
	overflow: visible;
	width: 202px;
	height: 68px;
	left: 0px;
	top: 0px;
}
#Label_c {
	left: 60px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Icon__c {
	position: absolute;
	width: 27px;
	height: 28px;
	left: 141px;
	top: 20px;
	display: none;
	overflow: visible;
}
#METADATA_db {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 16px;
	height: 15px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_DISPLAY_ELEMENTSLabelICON_c {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_DISPLAY_ELEMENTSLabelICON_c {
	position: absolute;
	overflow: visible;
	width: 27px;
	height: 28px;
	left: 0px;
	top: 0px;
}
#Icon_c {
	position: absolute;
	width: 24.437px;
	height: 21.313px;
	left: 0.67px;
	top: 3.479px;
	overflow: visible;
}
#Path_da {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_da {
	overflow: visible;
	position: absolute;
	width: 26.104px;
	height: 22.979px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Home {
	left: 946px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Services {
	left: 1045px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#About_us {
	left: 1170px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#FAQ {
	left: 1298px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3px;
	text-align: center;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#LOGO_png {
	position: absolute;
	width: 176px;
	height: 107px;
	left: 303px;
	top: 30px;
	overflow: visible;
}